{% extends "profile/base.html" %}

{% block content%}
<h1>Invitations</h1>
<h2>My invitations</h2>
{% set options = ["accept", "reject"] %}
{% set options_meta = {
    "accept": {"route": "profile.accept_invitation"},
    "reject": {"route": "profile.reject_invitation"},
}
%}
<div class="glass-table-wrapper">
    <table class="glass-table">
        <thead class="table-dark">
            <tr>
                {% for header in ["Teacher", "Received at"] + options %}
                    <th scope="col">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row in invitations %}
                <tr>
                    {% for key, value in row.items() %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                    {% for button in  options%}
                        <td><a href="{{ url_for(options_meta[button]['route'], game_id=row['public_id']) }}"><button id="game-button-{{ button }}">{{ button }}</button></a></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if current_user.role.name == "teacher" %}
    <h2>Sent invitations</h2>
    {% set options = ["cancel"] %}
    {% set options_meta = {
        "cancel": {"route": "profile.cancel_invitation"},
    }
    %}
    <div class="glass-table-wrapper">
        <table class="glass-table">
            <thead class="table-dark">
                <tr>
                    {% for header in ["Student", "Sent date"] + options %}
                        <th scope="col">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in invitations %}
                    <tr>
                        {% for key, value in row.items() %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        {% for button in  options%}
                            <td><a href="{{ url_for(options_meta[button]['route'], game_id=row['public_id']) }}"><button id="game-button-{{ button }}">{{ button }}</button></a></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}
