{% extends "profile/base.html" %}
{% from "auth/macros.html" import render_errors %}

{% block css %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/forms.css') }}" type="text/css"/>
{% endblock %}


{% block content%}
<section class="glass-card hero">
    <h1>Remove student</h1>
    <p>
        <form action="" method="post" onsubmit="return confirm('Are you sure you want to remove the student?');" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.contact.label }}<br>
                {{ form.contact() }}
                {{ render_errors(form.contact) }}

            </p>
            <br>
            <p>{{ form.submit() }}</p>
        </form>
    </p>
</section>
{% endblock %}
