# IMPORTANT NOTE:
# AFTER ADDING OR REMOVING ENV VARIABLES IN THIS FILE
# UPDATE ALSO FUNCTION create_or_update_dotenv IN Justscripts FILE

# Images
IMAGE_TAG="latest"
BASE_IMAGE="python:3.13.12-slim"
DATABASE_IMAGE="docker.io/library/postgres:14.23-alpine3.23"
PIP_VERSION="26.0.1"
UV_VERSION="0.11.2"


# Database settings
DATABASE_USER="word_gamer"
DATABASE_PORT="63007"
DATABASE_HOST="wordgames-db"


UID="dummy value replaced automatically"
GUID="dummy value replaced automatically"

# Common settings
APP_SECRET_KEY="dummy value replaced automatically"
APP_SQLALCHEMY_DATABASE_URI="dummy value replaced automatically"

## MD5 of .env.template file (for .env auto update)
DOTENV_TEMPLATE_MD5="dummy value replaced automatically"
