.emph{
    color: orange;
}
span.example{
    display: block;
}

.container{
    display: flex;
}

.align-center{
    align-items: center;
}


.menu{
    flex-grow: 0.3;
    width: 100px;
    background-color: blueviolets;
}

.vertical{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}
