{% extends "base.html" %}
{% from "auth/macros.html" import render_errors %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/forms.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/classes.css') }}" type="text/css"/>
{% endblock %}

{% block main %}
<h1>Game Editor</h1>
<section class="glass-card">
    {{ form.name.label }}<br>
    {{ form.name(size=64) }}
    {{ render_errors(form.name) }}
</section>
<section id="editor" class="glass-card">
<div class="container toolbar">
    <button>Add</button>
    <button>Mark as gap</button>

</div>
<div class="container map">

</div>
</section>

<section class="glass-card">
        <p>{{ form.submit() }}</p>
    </form>
</section>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="toast-container">
            {% for category, message in messages %}
                <div class="toast {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename = 'js/dynamic-game-type-select.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/game-editors.js') }}"></script>
{% endblock %}
