<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WordGames</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content=" Build and solve word games."/>
	<meta name="keyword" content="languages, quizes, games, education"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/text.css') }}" type="text/css"/>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/vars.css') }}" type="text/css"/>
    {% block css %}
    {% endblock %}

</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('main.index') }}">WordGames</a>
        </div>
        {% if current_user.username %}
            <a href="{{ url_for('auth.logout') }}">
                <button class="login-btn">
                    Logout
                </button>
            </a>

        {% else %}
            <a href="{{ url_for('auth.login') }}">
                <button class="login-btn">
                    Login
                </button>
            </a>
        {% endif %}
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="toast-container">
            {% for category, message in messages %}
                <div class="toast {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    <main class="main">
		{% block main %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="footer-section">
            <h4>About Us</h4>
            <a href="#">Our Mission</a>
            <a href="#">Team</a>
        </div>

        <div class="footer-section">
            <h4>Support</h4>
            <a href="#">Help Center</a>
            <a href="#">Contact</a>
        </div>

        <div class="footer-section">
            <h4>Legal</h4>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms</a>
        </div>
    </footer>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
