{% extends "base.html" %}

{% block main %}
        <section class="glass-card hero">
            <h1>Learn. Grow. Succeed.</h1>
            <p>
                Learn languages by word games.
            </p>
            <button class="primary-btn">Get Started</button>
        </section>

        <section class="glass-grid">
            <div class="glass-card">
                <h2>Simplicity</h2>
                <p>Select game temlate, prepare a game and  assign to your students.</p>
            </div>

            <div class="glass-card">
                <h2>Community</h2>
                <p>Join as a student or teacher. Add your students to classroom to let them solve assignments.</p>
            </div>
        </section>
{% endblock %}
